:host { background-color: #21282a !important; }

.carta {
  margin-bottom: 10%;
  margin-top: 4%;
}
h1, h2, p {
  color: #00e5ff;
}



.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #21282a !important;
}


h1 {
  display: flex;
  justify-content: center;
  font-size: 280%;
}
.card {
  border: 1px solid black ;
  box-shadow: 2px 2px 4px rgb(199, 199, 199);
  border-radius: 5px;
  border: 2px solid #80cfff;
  transition: all 0.5s ease-in-out;
  background-color: #21282a;
  margin-left: 10%;
  margin-right: 10%;
}
.card:hover {
  transform:  scale(1.2);
  box-shadow: 0 0 20px #80cfff, 0 0 40px #80cfff, 0 0 60px #80cfff;
}

.perfil {
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  padding: 1%;
}
.perfil:hover {
  color: rgb(95, 255, 255);
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0 0 20px #80cfff, 0 0 40px #80cfff, 0 0 60px #80cfff;
}

