<app-loading-page *ngIf="!loading"></app-loading-page>
<div class="container">
<div class="wrapper" *ngIf="loading">
<h1>Cambio de contraseña:</h1>
<h2>Introduce la nueva contraseña para su cuenta:</h2>
<form class="form-group" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
  <input type="text" class="form-control"  formControlName="password" id="password" placeholder="Password">
  <div class="mb-2"></div>
    <button class="btn btn-info m-1 neon" type="submit">Enviar</button>
</form>
</div>
</div>
