<div class="wrapper">
<app-navbar></app-navbar>
<div class="details">
<div class="card text-center child">
  <h1 class="card-header">Detalles de tu Blog</h1>
  <div class="card-body">
    <h2 class="card-title">Nombre: {{ blog.name }}</h2>
    <ul class="list-group list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item">Categoria: {{ blog.categoria }}</li>
    <li class="list-group-item">Dia creado: {{ diac }}</li>
    <li class="list-group-item"> Última actualización: {{ diau }} a las {{horau}}</li>
    </ul>
  </div>
</div>
</div>
<app-footer></app-footer>
</div>
