<app-loading-page *ngIf="!loading"></app-loading-page>
<div *ngIf="loading">
<app-navbar></app-navbar>
<div class="card text-center child">
  <h1 class="card-header">Detalles de tu Blog</h1>
  <div class="card-body">
    <h2 class="card-title">Nombre: {{ blog.title }}</h2>
    <p class="card-text">Categoria: {{ blog.categoria }}</p>
    <p class="card-text">Dia creado: {{ diac }}</p>
    <p class="card-text"> Última actualización: {{ diau }} a las {{horau}}</p>
  </div>
</div>

<app-footer></app-footer>
</div>
