<div class="container">
  <h4>Editar información de usuario</h4>
  <form [formGroup]="guardarusu" (submit)="guardar()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" formControlName="name" class="form-control" id="name" [(ngModel)]="usuario.usuario.name" name="name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email" [(ngModel)]="usuario.usuario.email" name="email">
    </div>
    <div class="form-group">
      <label for="img">Imagen de Perfil</label>
      <input type="img" formControlName="img" class="form-control" id="img" [(ngModel)]="usuario.usuario.img" name="img">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" formControlName="password" class="form-control" id="password"  name="password">
    </div>
    <div class="form-group">
      <label for="password">Repetir contraseña</label>
      <input type="password" formControlName="conf_password" class="form-control" id="conf_password" name="conf_password">
    </div>
    <button type="submit" mat-dialog-close class="btn btn-primary">Guardar</button>

  </form><button type="submit" class="btn btn-danger" mat-dialog-close>Cancelar</button>
</div>
