/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  color: #21282a !important;
  background-color: #21282a !important; }

.mat-dialog-container.dialog-centered {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #ffffff;
}
app-navbar {
  z-index: 1;
}
app-footer {
  z-index: 1;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: #21282a !important;
}
