
<div class="wrapper">
<app-navbar></app-navbar>
<div class="content my-5">
<!-- Contenido BLOG -->
<div class="container" *ngIf="thereis">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-12  d-flex justify-content-between">
        <h2>Tu Blog</h2>
        <div>
          <button type="button" (click)="detalles()" class="btn btn">Ver Detalles</button>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{blog.name}}</h2>
          <p class="card-text">{{blog.contenido}}</p>
        </div>
      </div>
      <br>
    </div>

    <div class="col-md-4">
      <h2>Categorías</h2>
      <ul class="list-group" *ngFor="let categoria of categorias">
        <li class="list-group-item" (click)="categoriasc(categoria.name)">{{categoria.name}}</li>
      </ul>
    </div>
  </div>
</div>
<!-- CONTINUAR BLOG -->
<br>
<div class="container" *ngIf="thereis">
  <h2>Continuar Blog</h2>
  <form [formGroup]="contblog" (ngSubmit)="editsave()">
    <div class="form-group">
      <textarea class="form-control" formControlName="contenido" id="contenido" name="contenido" [(ngModel)]="textareavalue"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Continuar</button>
    <button type="submit" (click)="deleteblog()" class="btn btn-danger">Eliminar</button>
  </form>

</div>


<!-- CREAR BLOG -->
<div *ngIf="!thereis" class="container col-md-8">
  <h2>Crear nuevo blog</h2>
  <form [formGroup]="createblog" (ngSubmit)="create()">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" formControlName="name" class="form-control" id="titulo" name="titulo">
    </div>
    <div class="form-group">
      <label for="categoria">Categoría</label>
      <select class="form-control" id="categoria" formControlName="categoria">
          <option value="">Seleccionar categoría</option>
          <option value="IA">IA</option>
          <option value="Programacion">Programacion</option>
      </select>
  </div>
    <div class="form-group">
      <label for="contenido">Contenido</label>
      <textarea class="form-control" formControlName="contenido" id="contenido"name="contenido"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
</div>


</div>
<app-footer></app-footer>
</div>
